.sun {
    width: 550px;
    height: 300px;
    background: rgba(255, 242, 0, 0.152);

    position: fixed;
    top: -120px;   /* move half outside the screen vertically */
    right: 50px; /* move half outside horizontally */
   
    border-bottom-left-radius: 40%;
    border-bottom-right-radius: 60%;






    

}



.hotel-img-container {
    position: relative;
    max-width: 100%;
    height: 402px;
    margin: 0 auto;
    margin-top: 150px;
    background-size: cover;


}

.hotel-img-container::before {
    content: "";
    position: absolute;
    inset: 0; /* top:0 right:0 bottom:0 left:0 */
    background: rgba(0, 0, 0, 0.4); /* <<< adjust darkness */
    z-index: 1;
}

.home-text-div {
    position: relative;
    width: 550px;
    height: 100%;
    margin: 0 auto;
    text-align: center;
    padding-top: 40px;
    z-index: 999999;

}


.home-img {
    display: block;
    width: 450px;
    height: 90px;
    margin: 0 auto;
    margin-bottom: 40px;
}


.home-title {
    width: fit-content;
    color: white;
    margin: 0 auto;
    
    text-align: center;
    margin-bottom: 60px;

}

.test-input {
    width: 500px;
    height: 55px;
    border-radius: 40px;
    border: none;
}