.navbar {
    height: 60px;
    display: flex;
    justify-content: flex-end;
    width: 80%;
    margin: 0 auto;

}

.navbar-text {
    width: 200px;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-weight: bold;
}

.navbar-text a {
    font-style: none;
    color: black;
    text-decoration: none;

}

.navbar-text a:nth-child(2) {
    background-color: black;
        color: white;
        padding: 10px;
        border-radius: 30px;
        width: 80px;
        text-align: center;

}